<div class="tour">
  <div class="tour-sidebar">
    <div class="tour-sidebar__heading">
      <h2 class="title">{{model.title}}</h2>
      <p class="dates">Dates TBD</p>
    </div>

    <ul class="tour-sidebar__list">
      {{#each model.shows as |show|}}
        <li class="tour-sidebar__list__item">
          <h3 class="title">{{show.city}}, {{show.state}}</h3>
          <div class="status-pill">{{show.status}}</div>
        </li>
      {{/each}}
    </ul>

    <div class="tour-sidebar__footer">
      Want to advertise to over 7000 artists and promoters? <a href="">Get in touch!</a>
    </div>
  </div>

  {{#mapbox-gl class="tour__map" as |map|}}
    {{#each model.shows as |show|}}
      {{map-marker map=map city=show.city state=show.state country=show.country}}
    {{/each}}
  {{/mapbox-gl}}
</div>

